/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #ADD8E6;
   text-align: center
 }

 h1 {
   font-size: 15px;
   text-align: right;
   margin: 0px
 }

 h2{
   font-size: 15px;
   text-align: right;
   margin: 0px
 }

 h3 {
   font-size: 45px;
   text-align: left
 }

 h4 {
   font-size: 30px
 }

 footer{
   text-align: left
 }

 img{
   width: 30%
 }
